* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* COLOR FROM SELECTED ITEMS  */
  --homepage: rgba(251, 251, 251, 255);
  /* COLOR FROM ASSETS PANEL */
  --text_color_1: #161513;
  --text_color_2: #e7e5ef;
  --accent_color_1: #294e9a;

  --accent_color_2: #061940;
  --overlay_color_1: linear-gradient(to bottom, #061940, #294e9a);

  --primary_color: #fefefe;
  --support_color: #294e9a;
  --dark_color: #1d2330;
  --white-bg: #fefefe;
  --bg_color_1: #fefefe;
  --bg_color_2: linear-gradient(to bottom, #061940, #294e9a);

  --text_font1: "Poppins";
  --text_font2: "Poppins";
  --text_font3: "Poppins";
  font-family: "Poppins";
}
body {
  background-color: var(--bg_color_1);
  /* overflow-x: hidden; */
  position: relative;
}
.bg {
  background-color: var(--white-bg);
}
.heading {
  width: 100%;
  color: var(--primary_color);
  font-size: clamp(2rem, 3vw, 3rem);
  font-family: var(--text_font2);
  font-weight: bolder;
  flex: 1 1 0;
  text-align: left;
  word-wrap: break-word;
  text-transform: capitalize;
}
.heading2 {
  width: 100%;
  color: var(--accent_color_1);
  font-size: clamp(2rem, 3vw, 3rem);
  font-family: var(--text_font1);
  font-weight: bolder;
  flex: 1 1 0;
  text-align: left;
  word-wrap: break-word;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.sub-heading {
  color: var(--dark_color);
  font-size: clamp(2rem, 2vw, 3rem);
  font-family: var(--text_font2);
  font-weight: bolder;
  flex: 1 1 0;
  text-align: left;
  letter-spacing: 0.25px;
  word-wrap: break-word;
}
.title {
  width: 100%;
  color: var(--dark_color);
  font-size: clamp(1.8rem, 2vw, 2.6rem);
  font-family: var(--text_font2);
  font-weight: 900;
  flex: 1 1 0;
  text-align: left;
  letter-spacing: 0.25px;
  word-wrap: break-word;
}
.title-d {
  width: 100%;
  color: var(--dark_color);
  font-size: clamp(1.4rem, 2vw, 2rem);
  font-family: var(--text_font2);
  font-weight: 900;
  flex: 1 1 0;
  text-align: left;
  letter-spacing: 0.25px;
  word-wrap: break-word;
}
.sub-title {
  width: 100%;
  color: var(--dark_color);
  font-size: clamp(1.4rem, 2vw, 2rem);
  font-family: var(--text_font2);
  text-align: center;
  font-weight: bold;
  flex: 1 1 0;
  text-align: left;
  word-wrap: break-word;
}
.details {
  width: 100%;
  color: var(--dark_color);
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-family: var(--text_font1);
  font-weight: 400;
  margin-bottom: 1rem;
  flex: 1 1 0;
  text-align: left;
  letter-spacing: 0.25px;
  word-wrap: break-word;
}
.details2 {
  width: 100%;
  color: var(--primary_color);
  font-size: clamp(1.4rem, 2vw, 1.6rem);
  font-family: var(--text_font1);
  line-height: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  flex: 1 1 0;
  text-align: left;
  letter-spacing: 0.25px;
  word-wrap: break-word;
}
.btn {
  color: var(--text_color_2);
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-family: var(--text_font1);
  background: var(--bg_color_2);
  width: fit-content;
  height: clamp(3rem, 2vw, 3rem);
  padding: clamp(4px, 2vw, 4px);
  padding-left: clamp(15px, 2vw, 20px);
  padding-right: clamp(15px, 2vw, 20px);
  border-radius: 10px;
  border: 1px solid #06194000;
  margin-right: 5px;
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  &:hover {
    background: var(--bg_color_1);
    color: var(--accent_color_1);
    border: 1px solid #061940;
  }
}
.btn2 {
  color: var(--overlay_color_1);
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-family: var(--text_font1);
  background: var(--bg_color_1);
  width: fit-content;
  height: clamp(3rem, 2vw, 3rem);
  padding: clamp(4px, 2vw, 4px);
  padding-left: clamp(15px, 2vw, 20px);
  padding-right: clamp(15px, 2vw, 20px);
  border-radius: 10px;
  border: 1px solid #061940;
  margin-right: 5px;
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  &:hover {
    background: var(--overlay_color_1);
    color: var(--text_color_2);
    border: 1px solid #061940;
  }
}
.btn3 {
  color: var(--text_color_2);
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-family: var(--text_font1);
  background: var(--bg_color_2);
  width: fit-content;
  height: clamp(3rem, 2vw, 3rem);
  padding: clamp(4px, 2vw, 4px);
  padding-inline: clamp(40px, 4vw, 70px);
  border-radius: 10px;
  border: 1px solid #06194000;
  margin-right: 5px;
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  &:hover {
    background: var(--bg_color_1);
    color: var(--accent_color_1);
    border: 1px solid #061940;
  }
}
.btn4 {
  color: var(--overlay_color_1);
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-family: var(--text_font1);
  background: var(--bg_color_1);
  width: fit-content;
  height: clamp(3rem, 2vw, 3rem);
  padding: clamp(4px, 2vw, 4px);
  padding-inline: clamp(40px, 4vw, 70px);
  border-radius: 10px;
  border: 1px solid #061940;
  margin-right: 5px;
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  &:hover {
    background: var(--overlay_color_1);
    color: var(--text_color_2);
    border: 1px solid #061940;
  }
}
.btn5 {
  color: var(--text_color_2);
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-family: var(--text_font1);
  background: var(--bg_color_2);

  height: clamp(3rem, 2vw, 3rem);
  padding: clamp(4px, 2vw, 4px);
  padding-left: clamp(15px, 2vw, 20px);
  padding-right: clamp(15px, 2vw, 20px);
  border-radius: 10px;
  border: 1px solid #06194000;
  margin-right: 5px;
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  &:hover {
    background: var(--bg_color_1);
    color: var(--accent_color_1);
    border: 1px solid #061940;
  }
}
.float {
  position: relative;
}
.float .float-btn a {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  color: white;
  background-color: var(--accent_color_1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed !important;
  right: 30px;
  bottom: 53px;
  /* cursor: pointer; */
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
  &:hover {
    background: var(--bg_color_1);
    color: var(--accent_color_1);
  }
}
.active {
  color: var(--accent_color_1);
}
.show {
  display: block;
}
.line {
  width: 200px;
  height: 3px;
  background: var(--bg_color_2);
}
.marker {
  color: var(--accent_color_1);
}
.marker0 {
  color: var(--accent_color_1);
  font-weight: bold;
}
.marker1 {
  color: var(--support_color);
  font-weight: bold;
  font-size: small;
}
.marker-w {
  color: var(--white-bg);
}
.marker-d {
  color: var(--dark_color);
  font-weight: bold;
}
.nav {
  width: 100%;
  height: 90px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: all 0.7s ease-out;
  background-color: var(--bg_color_1);
}
.nav .sub {
  width: 90%;
  height: 100%;
  left: 0px;
  top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  margin: auto;
}
.nav .sub .navbrand {
  min-width: 100px;
  max-width: auto;
  min-height: 70px;
  z-index: 2;
  position: relative;
  margin-inline: 0%;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.nav .sub .navbrand .logoMark {
  width: fit-content;
  height: clamp(50px, 2vw, 60px);
}
.nav .sub .menu {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .sub .menu .linkSecInHeader {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(30px, 2vw, 60px);
}
.nav .sub .menu .linkSecInHeader .menuLink {
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
  /* background-color: #08bcdd; */
}
.nav .sub .menu .linkSecInHeader .menuLink:hover a {
  color: var(--accent_color_1);
  align-self: stretch;
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-style: normal;
  font-weight: 400;
  font-family: var(--text_font2);
}
.nav .sub .menu .linkSecInHeader .menuLink a {
  color: var(--dark_color);
  word-wrap: break-word;
  display: flex;
  text-align: center;
  padding-block: 1rem 1rem;
  text-decoration: none;
  text-transform: none;
  font-family: var(--text_font2);
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0.15px;
  cursor: pointer;
}
.nav .sub .menu .linkSecInHeader a.active {
  color: var(--accent_color_1);
}
.nav .sub .click {
  width: fit-content;
  height: auto;
  display: flex;
  gap: 24px;
}
.homepage-section-fx {
  width: 100%;
  height: 68px;
  margin-top: 90px;
  background-color: var(--dark_color);
}
.homepage-hero-section {
  width: 100%;
  height: 95vh;
  background-image: url(../img/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  .write-up {
    p {
      color: var(--text_color_2);
      width: 100%;
      font-family: var(--text_font1);
      margin-bottom: 1rem;
      flex: 1 1 0;
      text-align: left;
      letter-spacing: 0.25px;
      word-wrap: break-word;

    }
  }
}
.homepage-section-fx.two {
  margin-top: 0px;
  background-color: var(--bg_color_1);
}
.homepage-section-one {
  width: 100%;
  background: var(--bg_color_1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  .sub {
    width: 100%;
    height: 100%;
    background: var(--bg_color_2);
    .left {
      width: 100%;
      height: 100%;
      border-radius: 25px 0px 0px 25px;
    }
    .right {
      width: 100%;
      position: relative;
      height: 100%;
      grid-template-columns: auto;
      align-items: center;
      justify-content: center;
      padding-block: 5%;
      border-radius: 0px 25px 25px 0px;
      h1,
      p {
        margin: auto;
        color: var(--text_color_2);
        width: 100%;
      }
      p {
        margin-bottom: 30px;
      }
    }
  }
}
.homepage-section-two {
  width: 100%;
  height: fit-content;
  background: var(--bg_color_1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  .sub {
    width: 100%;
    height: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-inline: 10px;
    padding-block: 10px;
    .headline {
      width: 70%;
      height: 10%;
   
      margin: auto;
      padding-inline: 50px;
      margin-bottom: 20px;
      .line {
        margin: auto;
      }
      .sub-heading {
        margin: auto;
        background: var(--bg_color_2);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        text-align: center;
      }
    }
    .tab {
      width: 100%;
      height: 90%;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 100px;
      .side {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .tag {
          width: 430px;
          height: 376px;
          border-radius: 25px;
          grid-template-columns: auto;
          gap: 10px;
          justify-content: center;
          align-items: center;
          .tab {
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: left;
            background-color: #ff0000;
            h1 {
              width: auto;
              margin: auto;
            }
            p {
              margin: auto;
              color: var(--text_color_2);
            }
          }
          .details {
            width: 100%;
          }
          .sub-heading {
            width: 100%;
          }
        }
      }
    }
  }
}
.homepage-section-three {
  width: 100%;
  background: var(--bg_color_1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  .sub {
    width: 100%;
    height: 100%;
    background: var(--bg_color_2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .tab {
      width: 100%;
      position: relative;
      height: 100%;
      grid-template-columns: auto;
      align-items: center;
      justify-content: center;
      padding-block: 5%;
      border-radius: 0px 25px 25px 0px;
      h1,
      p {
        margin: auto;
        color: var(--text_color_2);
        width: 100%;
      }
      h1 {
        margin-bottom: 30px;
      }
    }
  }
}
.input_container, .form-row {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}
input, textarea {
  width: auto;
  display: flex;
  padding: 10px 10px;
  align-items: flex-start;
  gap: 0px;
  outline: none;
  border-radius: 10px;
  border: 1px solid var(--accent_color_2);
  margin-bottom: 10px;
  background: var(--light-1);
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  &:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 1px #242424;
    background-color: var(--bg_color_1)
  }
}
textarea {
  width: 756px;
  height: 334px;
  padding: 24px 16px 16px 16px;
  gap: 4px;
  flex-shrink: 0;
}
label {
  color: #8B8E98;
  margin-bottom: 0px;
  padding-inline: 16px;
}
.input-error {
  border-color: var(--error-color);
}
.profile, .investment, .platform,  .transaction{
  width: 100%;
  height: auto;
  background-color: white;
 
}
.profile .sub, .investment .sub, .platform .sub,  .transaction .sub{
  width: 97%;
  display: flex;
  height: auto;
  padding: 4px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-left: clamp(10px, 2vw, 50px);
  padding-right: clamp(30px, 2vw, 100px);
  position: relative;

 
}
.profile .sub .dashboard, .investment .sub .dashboard, .platform .sub .dashboard, .transaction .sub .dashboard{
  width: 100%;
  display: flex;
  padding: 10px;
  align-items: center;
  background-color: var(--light-1);
}
.profile .sub .dashboard .dp, .investment .sub .dashboard .dp, .platform .sub .dashboard .dp, .transaction .sub .dashboard .dp{
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 30px;
}
.profile .sub .dashboard .dp .image, .investment .sub .dashboard .dp .image, .platform .sub .dashboard .dp .image, .transaction .sub .dashboard .dp .image{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  object-fit: cover;
}
.profile .sub .dashboard h1{
  width: auto;
}
.profile .sub .account-tab{
  width: 90%;
  padding: 24px;
  align-items: flex-start;
  gap: 22px;
  border-radius: 20px;
  background-color: var(--light-1);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.profile .sub .account-tab .tag{
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 
.profile .sub .account-tab .tag.a .img{
  width:150px;
  height: 150px;
  border-radius: 100px;
  object-fit: cover;
}
.profile .sub .account-tab .tag.b .content{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  padding: 0px 0px;
  align-items: flex-start;
  align-self: stretch;
}
.profile .sub .account-tab .tag.b .content .left, .profile .sub .account-tab .tag.b .content .right{
  display: flex;
  height: auto;
  padding: 10px 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  flex: 1 0 0;
  background: var(--light-color);
  border-radius: 10px 0px 0px 10px;
  border: 1px solid #000;
}
.profile .sub .account-tab .tag.b .content .right{
  border-radius: 0px 10px 10px 0px;
}
.profile .sub .account-tab .tag.b .content .left h1, .profile .sub .account-tab .tag.b .content .right h1{
  font-weight: bolder;
}
.profile .sub .account-tab .tag.b .btn{
  width: fit-content;
  height: 40px;
  margin-block: 20px;
}
.profile .sub .sub-board{
  width: 100%;
  height: auto;
  display: flex;
  padding: 4px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  border-radius: 20px;
  background-color: var(--light-1);
}
.profile .sub .sub-board .caption{
  height: auto;
  width: 100%;
  padding-inline: 24px;
}
.profile .sub .sub-board .caption h1{
  font-weight: 900;
}
.profile .sub .sub-board .sub-board-dashboard{
  width: 100%;
  height: auto;
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.profile .sub .sub-board .sub-board-dashboard .table{
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}
.profile .sub .sub-board .sub-board-dashboard .table h1{
  width: 100%;
  height: 20%;
  font-weight: bolder;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid #000;
  margin-bottom: 0px;
  padding: 24px;
  line-height: 0px;
}
.profile .sub .sub-board .sub-board-dashboard .table .content{
  width: 100%;
  height: 80%; 
  padding: 24px;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid #000;
}
.profile .sub .sub-board .sub-board-dashboard .table .content button{
  width: fit-content;
  height: 40px;
  padding: 24px;
  gap: 4px;
  border-radius: 10px;
  background: var(--error-color);
  margin: auto;
  margin-bottom: 0px;
}


.investment .sub .dashboard h1{
  width:auto;
}

.investment .sub .account-tab{
  width: 90%;
  padding-block: 24px;
  align-items: flex-start;
  gap: 22px;
  border-radius: 20px;
  
  display: flex;
  flex-wrap: wrap;
 
}
.investment .sub .account-tab .tag{
  background-color: var(--light-1);
  height: auto;
  display: flex;
  border-radius: 20px;
  padding: 22px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 
.investment .sub .account-tab .tag.a svg{
  width:100px;
  height: 100px;
  border-radius: 100px;
  fill: var(--text_color_1);
}
.investment .sub .account-tab .tag.a h1{
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}
.investment .sub .account-tab .tag.a  button{
  width: fit-content;
  height: 40px;
  padding: 24px;
  gap: 4px;
  border-radius: 10px;
  background: var(--error-color);
  margin: auto;
  margin-bottom: 0px;
  
  &:hover {
    background: var(--accent_color_1);
    color: var(--text_color_2);
  }
}


.transaction .sub .tab{
  background-color: var(--light-1);
  width: 100%;
  height: 80%;
  margin: auto;
  border-radius: 0px 0px 20px 20px;
  padding-bottom: 30px;
  padding: 24px;
}
.transaction .sub .tab .board {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 4px;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  align-items: flex-start;
  flex: 1 0 0;
  min-width: 831px;
}
.transaction .sub .tab .board  .column{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
 
}
.transaction .sub .tab .board  .column .caption{
  display: flex;
  padding: 8px;
  height: 10%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  background-color: #007B00;
  color: var(--text_color_2);
  font-size: clamp(1.2rem, 1vw, 1.8rem);
}
.transaction .sub .tab .board  .column .row{
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
 
}
.transaction .sub .tab .board  .column .row p{
  text-align: center;
  font-size: clamp(1rem, 2vw, 1.4rem);
}


.platform .sub .dashboard h1{
  width: 100%;
}
.platform .sub .account-tab{
  width: 100%;
  align-items: flex-start;
  gap: 22px;
  border-radius: 20px;
 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.platform .sub .account-tab .tag{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.platform .sub .account-tab .tag .content{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  padding: 0px 0px;
  align-items: flex-start;
  align-self: stretch;
}
.platform .sub .account-tab .tag.a .content{
  background-color: var(--accent_color_1);
  padding: 0px;
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.platform .sub .account-tab .tag.a .content .tier{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 16px;
}
.platform .sub .account-tab .tag.a .content .tier h1{
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  color: var(--text_color_2);
}
.platform .sub .account-tab .tag.a .content .tier .icon{
  width:150px;
  height: 150px;
  margin-bottom: 50px;
}
.platform .sub .account-tab .tag.b .content{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  padding: 24px 0px;
  gap: 20px;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: wrap;
}
.platform .sub .account-tab .tag.b .content .left, .transaction .sub .account-tab .tag.b .content .right{
  
  flex: 1 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius:  20px 20px 0px 0px;
  padding:  0px;
}
.platform .sub .account-tab .tag.b .content  h1{
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0px;
  text-align: center;
  background-color: var(--accent_color_3);
  padding: 24px;
  color: var(--text_color_2);
  border-radius:  20px 20px 0px 0px;
}
.platform .sub .account-tab .tag.b .content  p{
  text-align: center;
}
.platform .sub .account-tab .tag.b .content .left .write-up, .platform .sub .account-tab .tag.b .content .right .write-up{
  background-color: var(--light-1);
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.platform .sub .account-tab .tag.b .content .left .write-up img{
  width:80%;
  height: 150px;
  object-fit: contain;
  margin: auto;
  margin-bottom: 24px;
}
.platform .sub .account-tab .tag.b .content .right img{
  width:80%;
  height: 150px;
  object-fit: contain;
  margin: auto;
  margin-bottom: 24px;
}
.platform .sub .account-tab .tag.b .content .left button{
  width: fit-content;
  height: 40px;
  padding: 24px;
  gap: 4px;
  border-radius: 10px;
  background: var(--error-color);
  margin: auto;
  margin-bottom: 20px;
}
.platform .sub .account-tab .tag.b .content .right p{
  text-align: left;
  padding-inline: 34px;
}
.platform .sub .disclaimer{
  width: 100%;
  align-items: flex-start;
  gap: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 200px;
}
.platform .sub .disclaimer h1{
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0px;
  text-align: left;
  background-color: var(--accent_color_3);
  padding: 24px;
  color: var(--text_color_2);
}
.platform .sub .disclaimer p{
  padding-inline: 34px;
}

@media screen and (max-width: 1761px) {
}
@media screen and (max-width: 1602px) {
}
@media screen and (max-width: 1502px) {
  .nav {
    padding-inline: 10px;
    /* background-color: red; */
  }
  .nav .sub {
    width: 90%;
    justify-content: space-between;
  }
  .footer .sub .top {
    width: 90%;
  }
  .footer .sub .top .info {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    margin-bottom: 0px;
    gap: 20px;
  }
  .footer .sub .top .info .footerMenu.a {
    width: 100%;
    grid-template-columns: 70%;
  }
  .footer .sub .top .info .footerMenu.a .links.logo {
    height: 100%;
  }
  .footer .sub .top .info .footerMenu.b {
    justify-content: left;
  }
  .footer .sub .bottom .line {
    width: 90%;
  }
}
@media screen and (max-width: 1152px) {
  .nav .sub {
    width: 95%;
    padding-inline: 5px;
    justify-content: space-between;
  }
  .nav .sub .menu .linkSecInHeader {
    height: 70px;
  }
  .nav .sub .menu .linkSecInHeader .menuLink {
    padding: 0px;
  }
  .nav .sub .navbrand {
    min-width: fit-content;
    max-width: auto;
    height: 100%;
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .nav .sub .navbrand .logoMark {
    width: fit-content;
    height: clamp(30px, 2vw, 40px);
  }
  .platform .sub .account-tab .tag.a .content, .platform .sub .account-tab .tag.b .content{
    flex-direction: column;
    justify-content: left;
  }
  .platform .sub .account-tab .tag.a .content .tier{
    width: 100%;
    text-align: left;
  }
  .platform .sub .account-tab .tag.a .content .tier h1{
    width: 100%;
    text-align: left;
    padding-inline: 16px;
  }
  .platform .sub .account-tab .tag.b .content .left, .platform .sub .account-tab .tag.b .content .right {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .nav {
    padding-inline: 0px;
    height: 60px;
  }
  .nav .sub {
    width: 95%;
    justify-content: space-between;
  }
  .nav .sub .navbrand {
    min-width: fit-content;
    max-width: auto;
    height: 100%;
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .nav .sub .navbrand .logoMark {
    width: fit-content;
    height: clamp(35px, 2vw, 40px);
  }
  .menuDrpdown {
    margin: auto;
    width: 100%;
    top: 90px;
    left: 0px;
    background-color: #fbfbfbe0;
    backdrop-filter: blur(0.3rem);
    height: fit-content;
    transition: all 0.4s;
    z-index: 900;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    transition: all 0.4s ease;
  }
  .menuDrpdown .menuLink {
    padding: 2px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    display: flex;
    /* background-color: #08bcdd; */
  }
  .menuDrpdown .menuLink a {
    color: var(--dark_color);
    word-wrap: break-word;
    display: flex;
    text-align: center;
    padding-block: 1rem 1rem;
    text-decoration: none;
    text-transform: none;
    font-family: var(--text_font2);
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-weight: 200;
    line-height: normal;
    letter-spacing: 0.15px;
    cursor: pointer;
  }
  .menuDrpdown .menuLink:hover a {
    color: var(--accent_color_1);
    align-self: stretch;
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-style: normal;
    font-weight: 400;
    font-family: var(--text_font2);
  }
  .menuDrpdown a.active {
    color: var(--accent_color_1);
  }
  .menuDrpdown .click {
    margin: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .footer .sub .top {
    width: 90%;
  }
  .footer .sub .top .info {
    padding-inline: 50px;
  }
  .footer .sub .top .info .footerMenu.b {
    display: grid;
    grid-template-columns: 100%;
  }
  .footer .sub .top .info .footerMenu .links {
    width: 100%;
    flex-direction: column;

    justify-content: left;
    text-align: left;
  }
  .footer .sub .top .info .footerMenu .links .details {
    text-align: left;
  }
  .footer .sub .top .info .footerMenu.a .links.logo {
    height: 100%;
  }
  .footer .sub .top .info .footerMenu.b .links.aboutus {
    width: 100%;
  }
  .profile , .investment, .platform, .transaction {
    padding-left: 0px;
  }
  .profile .sub .account-tab, .investment .sub .account-tab, .platform .sub .account-tab, .transaction .sub .account-tab{
    width: 100%;
  }
  .profile .sub .account-tab .tag.b .content{
    
    padding-inline: 20px;
    
  }
  .line {
    width: 200px;
    height: 3px;
    background: var(--bg_color_2);
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .profile , .investment, .platform, .transaction {
    padding-left: 0px;
  }
  .profile .sub .account-tab, .investment .sub .account-tab, .platform .sub .account-tab, .transaction .sub .tab{
    width: 100%;
    flex-direction: column;
  }
  .profile .sub .account-tab .tag,    .investment .sub .account-tab .tag, .platform .sub .account-tab .tag, .transaction .sub .tab .tag{
    width: 100%;
  }
  .profile .sub .account-tab .tag.b .content{
    
    padding-inline: 20px;
    
  }

}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 551px) {
}
@media screen and (max-height: 300px) {
}
