*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* COLOR FROM SELECTED ITEMS  */
    --homepage: rgba(251,251,251,255);   
    /* COLOR FROM ASSETS PANEL */
    --text_color_1:  #161513;
    --text_color_2: #E7E5EF;
    --accent_color_1: #294E9A;

    --accent_color_2: #061940;
    --overlay_color_1: linear-gradient(to bottom, #061940, #294E9A);
   
    --primary_color: #FEFEFE;
    --support_color:  #294E9A;
    --dark_color:  #161513;
    --white-bg: #FEFEFE;
    --bg_color_1: #FEFEFE;
    --bg_color_2: linear-gradient(to bottom, #061940, #294E9A);

    --text_font1: "Poppins";
    --text_font2: "Poppins";
    --text_font3: "Poppins";
    font-family: "Poppins";
} 
body{
    background-color: var(--bg_color_1);
    /* overflow-x: hidden; */
    position: relative;
}
.bg{
    background-color: var(--white-bg);
}
.heading{
    width: 100%;
    color: var(--primary_color);
    font-size: clamp(3rem, 3vw, 5rem); 
    font-family: var(--text_font2);
    font-weight:bolder;
    flex: 1 1 0;
    text-align: left;
    word-wrap: break-word;
    text-transform:capitalize;
}
.heading2{
    width: 100%;
    color:var(--accent_color_1);
    font-size: clamp(3rem, 3vw, 5rem); 
    font-family: var(--text_font1);
    font-weight: bolder;
    flex: 1 1 0;
    text-align: left;
    word-wrap: break-word;
    text-transform:capitalize;
    margin-bottom: 1rem;
}
.sub-heading{
    width: 100%;
    color:var(--dark_color);
    font-size: clamp(3rem, 2vw, 4rem);
    font-family: var(--text_font2);
    font-weight: bolder;
    flex: 1 1 0;
    text-align: left;
    letter-spacing: 0.25px; 
    word-wrap: break-word;
}
.title{
    width: 100%;
    color:var(--dark_color);
    font-size: clamp(3rem, 2vw, 3.6rem);
    font-family: var(--text_font2);
    font-weight: 900;
    flex: 1 1 0;
    text-align: left;
    letter-spacing: 0.25px; 
    word-wrap: break-word;
}
.sub-title{
    width: 100%;
    color: var(--dark_color);
    font-size: clamp(1.6rem, 2vw, 2rem);
    font-family: var(--text_font2);
    text-align: center; 
    font-weight: bold;
    flex: 1 1 0;
    text-align: left;
    word-wrap: break-word;
}
.details{
    width: 100%;
    color:var(--dark_color);
    font-size: clamp(1.3rem, 2vw, 1.6rem);
    font-family: var(--text_font1);
    font-weight: 400;
    margin-bottom: 1rem;
    flex: 1 1 0;
    text-align: left;
    letter-spacing: 0.25px; 
    word-wrap: break-word;
}
.details2{
    width: 100%;
    color:var(--primary_color);
    font-size: clamp(1.4rem, 2vw, 1.6rem);
    font-family: var(--text_font1);
    line-height: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    flex: 1 1 0;
    text-align: left;
    letter-spacing: 0.25px; 
    word-wrap: break-word;
}
.btn{
    color: var(--text_color_2);
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-family: var(--text_font1);
    background: var(--bg_color_2);
    width: fit-content;
    height: clamp(3rem, 2vw, 3rem);
    padding: clamp(4px, 2vw, 4px);
    padding-left:clamp(15px, 2vw, 20px);
    padding-right:clamp(15px, 2vw, 20px); 
    border-radius: 10px; 
    border: 1px solid #06194000;
    margin-right: 5px;
    text-decoration: none;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    &:hover{
        background: var(--bg_color_1);
        color: var(--accent_color_1);
        border: 1px solid #061940;
    }
}
.btn2{
    color: var(--overlay_color_1);
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-family: var(--text_font1);
    background: var(--bg_color_1);
    width: fit-content;
    height: clamp(3rem, 2vw, 3rem);
    padding: clamp(4px, 2vw, 4px);
    padding-left:clamp(15px, 2vw, 20px);
    padding-right:clamp(15px, 2vw, 20px); 
    border-radius: 10px; 
    border: 1px solid #061940;
    margin-right: 5px;
    text-decoration: none;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    &:hover{
        background: var(--overlay_color_1);
        color: var(--text_color_2);
        border: 1px solid #061940;
    }
}
.float{
    position: relative;
}
.float .float-btn a{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    color: white;
    background-color: #ff8e00;;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed !important;
    right:30px;
    bottom: 53px;
    /* cursor: pointer; */
    text-decoration: none;
}
.active{
    color: var(--accent_color_1); 
}
.show{
   display: block;
}
.marker{
    color: var(--accent_color_1);
}
.marker0{
    color: var(--accent_color_1);
    font-weight: bold;
}
.marker1{
    color: var(--support_color);
    font-weight: bold;
    font-size: small;
}
.marker-w{
    color: var(--white-bg);
}
.marker-d{
    color: var(--dark_color);
    font-weight: bold;
}
.nav{
    width:100%; 
    height: 90px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; 
    transition: all 0.7s ease-out;
    background-color: var(--bg_color_2);
}
.nav .sub{
width: 90%; 
height: 100%;
left: 0px; 
top: 20px; 
display: flex;
flex-direction: row;
justify-content: space-between; 
align-items: center;
gap: 0px; 
margin: auto;
}
.nav .sub .navbrand{
    min-width: 100px;
    max-width: auto;
    min-height: 70px;
    z-index: 2;
    position: relative; 
    margin-inline: 0%;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.nav .sub .navbrand .logoMark{
width:fit-content;
height: clamp(50px, 2vw, 60px);
}
.nav .sub .menu{ 
width: fit-content;
height: 100%;
display:flex;
justify-content: center; 
align-items: center;  
}
.nav .sub .menu .linkSecInHeader{
width: fit-content;
display: flex;
justify-content: center; 
align-items: center; 
gap: clamp(30px, 2vw, 60px); 
} 
.nav .sub .menu .linkSecInHeader .menuLink{
padding: 8px; 
justify-content: center; 
align-items: center; 
gap: 10px; 
display: flex;
/* background-color: #08bcdd; */
}
.nav .sub .menu .linkSecInHeader .menuLink:hover a{
color: var(--accent_color_1);
align-self: stretch;
font-size: clamp(1rem, 2vw, 1.2rem);
font-style: normal;
font-weight: 400;
font-family: var(--text_font2);
}
.nav .sub .menu .linkSecInHeader .menuLink a{ 
color: var(--dark_color);  
word-wrap: break-word;
display: flex;
text-align: center;
padding-block: 1rem 1rem;
text-decoration: none;
text-transform: none;
font-family: var(--text_font2);
font-size: clamp(1rem, 2vw, 1.2rem);
font-weight: 200;
line-height: normal;
letter-spacing: 0.15px;
cursor: pointer;
}
.nav .sub .menu .linkSecInHeader  a.active{
color: var(--accent_color_1);
}
.nav .sub .click{
width: fit-content;
height: auto;
display: flex;
gap: 24px;
}
